body {
    background-color: #65d38c;
}

/*Input Field Styles*/
/*Notice: The current parameters are set for all input fields, be aware...*/
select, input {
    background-color: white;
    border: 0px solid green;
    border-radius: 2rem;
    min-height: 50px;
    padding: 0 3rem;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
    -webkit-appearance: none;
}

.row:first-child div {
    margin: 0 0 20px;
}

.div-rel {
    position: relative;
}

.leb-ab {
    position: absolute;
    right: 0;
}

label[for="crypto"] i.fa-arrow-down{
    position:relative;
    display: block;
    color: black;
    left: 150px;
}

label[for="currency"] i.fa-arrow-down{
    position:relative;
    display: block;
    color: black;
    left: 220px;
}


